@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

#app {
  position: relative;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .banner {
    @include size(100%, 20rem);
    @include flex-align-justify(flex-end, center);
    @include img('./assets/images/banner.jpg', cover, center);
    position: relative;

    p {
      color: #fff;
      font-size: 3rem;
      margin-bottom: 3rem;
      filter: drop-shadow(darkgreen 2px 2px 1px);
    }

    .shopping-cart-icon {
      @include size(4.375rem, 4.375rem);
      @include flex-align-justify(center, center);
      position: absolute;
      top: 0;
      right: 0;
      background-color: #212121;
      margin-right: 1rem;

      i {
        cursor: pointer;
        color: #fff;
        font-size: 1.75rem;
      }
    }
  }

  .menu-bar {
    @include size(100%, 3rem);
    display: flex;
    background-color: #000;

    .title {
      @include size((100% / 3), 100%);
      @include flex-align-justify(center, center);
      cursor: pointer;
      color: #fff;
      font-size: 1.25rem;
    }
  }

  footer {
    @include size(100%, 3rem);
    @include flex-align-justify(center, center);
    color: #fff;
    background: #212121;
    position: fixed;
    bottom: 0;
  }
}
