.food-card {
  @include size(100%, auto);
  margin-top: 2rem;
  margin-bottom: 3rem;

  .row {
    flex-wrap: wrap;

    .card {
      height: 100%;
      position: relative;
      box-shadow: $shadow;
      margin: 0 1rem 2rem 1rem;

      .sentiment, .priority, .enough {
        @include absolute(1rem, unset, unset, 1rem);
        @include flex-align-justify(center, unset);
        color: #fff;

        img {
          @include size(2.25rem, 2.25rem);
        }

        p {
          font-size: 1.5rem;
          margin-left: 0.5rem;
        }
      }

      .sentiment {
        filter: drop-shadow(#fff 0.125rem 0.125rem 0.0625rem);
      }

      .priority {
        filter: drop-shadow(red 0.125rem 0.125rem 0.0625rem);
      }

      .enough {
        font-size: 1.5rem;
        margin-left: 0.5rem;
        filter: drop-shadow($primary 0.125rem 0.125rem 0.0625rem);
      }

      .content {
        padding: 1rem;

        .price {
          color: #9e9e9e;
          font-size: 1.5rem;
        }

        .name {
          font-weight: bold;
          font-size: 1.75rem;
          margin-top: 0.25rem;
          margin-bottom: 0.5rem;
        }

        .desc {
          margin-bottom: 1rem;
        }

        .btn-buy {
          @include size(100%, 2.25rem);
          @include flex-align-justify(center, space-between);
          cursor: pointer;
          padding: 0 1rem;
          box-shadow: $shadow;
          border-radius: 0.125rem;
          background-color: $primary;

          p, i {
            color: #fff;
          }

          i {
            font-size: 1.25rem;
          }

          &:hover {
            background-color: rgba($color: $primary, $alpha: 0.85);
          }
        }

        .disabled {
          background-color: rgba(0,0,0,.15) !important;
        }
      }
    }
  }
}